body{
	margin: 5%;
}

h1{
	text-align: center;
	font-family: Verdana, sans-serif;	
}

h2{
	font-family: Verdana, sans-serif;
}

.name{
	text-align:center;
}

.card{
	display:inline-block;
	width: 20%;
	text-align:center;
}

.cards{
	margin-left: 10%;
	margin-right: 10%;
}


.dataButtons{
	margin: 0 auto;
	width: 50%;
}

.dataButtons button{
	width: 29.33%;
	margin: 2%;
	border-radius: 10px;
	color: rgb(23,24,141);
	background-color: white;
	font-weight: bold;
	border: 1px solid rgb(151, 151, 151);
	padding:0px;
}

.dataButtons button:focus, .tempScale button:focus{
	box-shadow: 0 0 3px rgb(151,151,151);
	outline:0;
}

.dataButtons .selected, .tempScale .selected{
	color: white;
	background-color:rgb(23,24,141);;
}

.tempScale{
	margin: 0 auto;
	width: 30%;
}

.tempScale button{
	font-weight: bold;
	color: rgb(24, 24, 141);;
	background-color: white;
	border: 1px solid rgb(151, 151, 151);
	margin-left:5%;
	border-radius: 10px;
	width: 44%;
}

@media only screen and (max-width: 600px) {
    .card{
		width:33%;
		margin-bottom:20px;
	}
	.cards{
		margin:0;
	}

	.tempScale{
		width:100%;
		margin-bottom: 10px;
	}

	.tempScale button{
		width: 49%;
		margin:1px;
	}

	.dataButtons{
		width: 100%;
	}

	.dataButtons button{
		margin: 1px;
		width: 32%;
		padding: 2px;
	}

	h2{
		text-align: center;
	}
}

@media only screen and (max-width: 800px) {
	.tempScale button{
		width: 45%;
	}

	.tempScale{
		width: 80%;
		margin-bottom:20px
	}

	.dataButtons{
		width: 100%;
		
	}

	.dataButtons button{
		margin: 1px;
		width: 32%;
		padding: 2px;
	}
 
 }